@font-face {
	font-family: 'Navigo';
	src: url('type.today-navigo-web/Navigo-Regular-Web.eot');
	src: url('type.today-navigo-web/Navigo-Regular-Web.eot#iefix') format('embedded-opentype'), url('type.today-navigo-web/Navigo-Regular-Web.woff2') format('woff2'), url('type.today-navigo-web/Navigo-Regular-Web.woff') format('woff'), url('type.today-navigo-web/Navigo-Regular-Web.ttf') format('truetype'), url('type.today-navigo-web/Navigo-Regular-Web.svg#Navigo') format('svg');

	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Navigo';
	src: url('type.today-navigo-web/Navigo-Bold-Web.eot');
	src: url('type.today-navigo-web/Navigo-Bold-Web.eot#iefix') format('embedded-opentype'), url('type.today-navigo-web/Navigo-Bold-Web.woff2') format('woff2'), url('type.today-navigo-web/Navigo-Bold-Web.woff') format('woff'), url('type.today-navigo-web/Navigo-Bold-Web.ttf') format('truetype'), url('type.today-navigo-web/Navigo-Bold-Web.svg#Navigo Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'ALS Hauss';
	src: url("ALS_Hauss/ALS_Hauss_Regular_2.1.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}