
.container {
	width: 100%;
	max-width: 1390px;
	margin: 0 auto;
}

.wrap {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.but {
	width: 213px;
	height: 54px;
	border: 0px;
	background: #FEE600;
	border-radius: 10px;
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 58px;
	text-align: center;
	color: #2B2D33;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
.but:hover {
	color: #2B2D33;
	background: #FED500;
}

.but:disabled {
	color: #A2A4A6;
	background: #E1E1E3;
}

.but.but_1 {
	width: 213px;
	height: 54px;
}

.but.but_2 {
	width: 265px;
	height: 54px;
}

.but.but_3 {
	width: 204px;
	height: 54px;
}

/* header */

.header {
	
}

.header__wrap {
	padding: 0px 22px;
	height: 80px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}
.logo {
	
}
.logo__wrap {
	display: flex;
    align-items: center;
}
.logo__item {
	
}

.logo__delimiter {
	width: 1px;
	height: 36px;
	background: #E1E1E3;
	margin: 0px 33px;
}

.logo__item.logo__item_raiff {
	height: 36px;
}

.logo__item.logo__item_visa {
	height: 28px;	
}

.header-phone {
	
}
.header-phone__item {
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	color: #2B2D33;
	text-decoration: none;
	display: block;
}
.header-phone__desc {
	display: block;
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-align: right;
	color: #808185;
}
/* header end */


/* main */
.main {
	background: url("../../assets/images/Promo_desk_1920x550.jpg") no-repeat top center;
	height: 550px;
}

.main__h1 {
	font-family: Navigo;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 70px;
	color: #FFFFFF;
}

.main__percent {
	font-family: Navigo;
	font-style: normal;
	font-weight: 900;
	font-size: 108px;
	line-height: 70px;
	color: #FFFFFF;
}

.main__label {
    display: inline-block;
    height: 34px;
    background: #3B7CFF;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0px 12px;
    line-height: 36px;
    position: relative;
    border-radius: 10px;
}

.main__label::after {
content: "";
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-left: 17px solid #3B7CFF;
    border-bottom: 17px solid transparent;
    display: block;
    position: absolute;
    top: 0px;
    right: -11px;
    border-radius: 10px;
}

.main__group {
	
}
.main__group.main__group_1 {
	padding-top: 60px;
}
.main__group.main__group_2 {
	margin-top: 18px;
}
.main__group.main__group_3 {
	margin-top: 16px;
}
.main__group.main__group_4 {
	margin-top: 60px;
}

/* main end */

/* benefits */
.benefits {
	padding: 50px 0px;
	border-bottom: 1px solid #E1E1E3;
}
.benefits__items {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
}
.benefits__item {
}
.benefits__title {
	display: block;
	font-family: Navigo;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 72px;
	text-align: center;
	color: #2B2D33;
}
.benefits__desc {
	display: block;
	margin-top: 5px;
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #808185;
}
/* benefits end */

/* cashback */
.cashback {
	padding: 80px 0px 90px 0px;
}
.cashback__title {
	font-family: Navigo;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 54px;
	text-align: center;
	color: #2B2D33;
}
.cashback__items {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 12px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-top: 64px;
}

.cashback-item {
	height: 180px;
	background: #29476B;
	border-radius: 14px;
	display: flex;
	align-items: center;
	padding: 0px 30px;
	justify-content: space-between;
}
.cashback-item__name {
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: #FFFFFF;
}

.cashback-item.cashback-item_1:after {
	content: '';
	display: block;
	background: url("../../assets/images/cashback/Hue_Saturation 1 1.png") no-repeat top center;
	width: 160px;
	height: 130px;
	position: relative;
	top: 0px;
	right: 0px;
}
.cashback-item.cashback-item_2:after {
	content: '';
	display: block;
	background: url("../../assets/images/cashback/bag 1.png") no-repeat top center;
	width: 131px;
	height: 203px;
	position: relative;
	top: 11px;
	right: 0px;
}
.cashback-item.cashback-item_3:after {
	content: '';
	display: block;
	background: url("../../assets/images/cashback/car 1.png") no-repeat top center;
	width: 174px;
	height: 154px;
	position: relative;
	top: 0px;
	right: -46px;
}

/* cashback end */

/* calculate */
.calculate {
	background: #F4F4F4;
	padding: 72px 0px 90px 0px;
}
.calculate__title {
	font-family: Navigo;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 54px;
	text-align: center;
	color: #2B2D33;
}
.calculate__desc {
	margin-top: 26px;
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #808185;
}
/* calculate end */

/* form  */
.form {
	padding: 72px 0px 90px 0px;
}
.form__title {
	font-family: Navigo;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 54px;
	text-align: center;
	color: #2B2D33;
}

.form__steps {
	list-style-type: none;
	margin:  0px;
	padding: 0px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.form__step {
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #2B2D33;
	padding-left: 34px;
	position: relative;
}
.form__step.form__step_1:after {
	content: '';
	display: block;
	position: absolute;
	background: url("../../assets/images/icons/doc.png") no-repeat top center;
	width: 20px;
	height: 24px;
	left: 0px;
	top: 0px;
}
.form__step.form__step_2:after {
	content: '';
	display: block;
	position: absolute;
	background: url("../../assets/images/icons/message.png") no-repeat top center;
	width: 22px;
	height: 24px;
	left: 0px;
	top: 0px;
}
.form__step.form__step_3:after {
	content: '';
	display: block;
	position: absolute;
	background: url("../../assets/images/icons/Vector.png") no-repeat top center;
	width: 21px;
	height: 20px;
	left: 0px;
	top: 0px;
}

.form__block {
	background: #FFFFFF;
	border: 1px solid #E1E1E3;
	box-sizing: border-box;
	border-radius: 12px;
	height: 1000px;
	max-height: 511px;
	margin-top: 42px;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: center;

}
.form__text {
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #A2A4A6;
}

/* form end  */

/* ronline  */
.ronline {
	padding: 72px 0px 90px 0px;
	background: #424548;
	overflow: hidden;
}
.ronline__title {
	font-family: Navigo;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 54px;
	text-align: center;
	color: #FFFFFF;
}
.ronline__desc {
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 17px;
}

.screens {
	margin-top: 64px;
	position: relative;
}
.screens__wrap {
    display: flex;
    justify-content: center;	
}

.screens__item {
	margin: 0px 10px ;
}

.screens__buttons {
    position: absolute;
    height: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
	top: 50%;
}
.screens__arrow {
	width: 42px;
	height: 42px;
	background: #FEE600;
	transform: matrix(-1, 0, 0, 1, 0, 0);
	display: block;
	font-size: 0px;
	position: relative;
	border-radius: 12px;
}
.screens__arrow:after {
	content: '';
	background: url("../../assets/images/icons/arrow.png") no-repeat center center;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.screens__arrow.screens__arrow_left {

}
.screens__arrow.screens__arrow_right {
	transform: rotate(0deg);
}

.screens__img {

}
.ronline__buttons {
	margin-top: 70px;
	text-align: center;
}

/* ronline end */

/* footer  */
.footer {
	padding: 90px 0px;
}
.footer__wrap {
	border:  1px solid #E1E1E3;
	border-left: 0px;
	border-right: 0px;	
}

.footer__info {
	display: flex;
	justify-content: space-between;
	padding: 30px 0px 25px 0px;
}
.footer__item {
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: #55575C;
}
.footer__text {
	margin-top: 47px;
	font-family: ALS Hauss;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: #808185;
	height: 122px;
	overflow-y: scroll;
}

.footer__text::-webkit-scrollbar {
	width: 7px;
}

.footer__text::-webkit-scrollbar-track {
	background: #E1E1E3;
}

.footer__text::-webkit-scrollbar-thumb {
	background-color: #808185;
	border-radius: 4px;
	border: 2px solid #E1E1E3;
}

/*  footer end */



/* range  */

.range {

}
.range__group {

}

.range__group.range__group_felx {
	display: flex;
	justify-content: space-between;
}

.range__group.range__group_main {
	margin: 20px 0px;
}

.range__label {
	font-family: ALS Hauss;
	font-size: 16px;
	line-height: 24px;
	color: #2B2D33;
}

.range__value {
	font-family: Navigo;
	font-size: 32px;
	line-height: 30px;
	text-align: right;
	color: #2B2D33;
}

.range__point {
	font-family: ALS Hauss;
	font-size: 12px;
	line-height: 12px;
	color: #A2A4A6;
}

.range__track {
	background: #E1E1E3;
	border-radius: 30px;
	height: 5px;
	width: 100%;
	position: relative;
}

.range__track::before {
	content: '';
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #FEE600;
	height: 100%;
	width: 15%;
}

.range__thumb {
	display: block;
	border-radius: 35px;
	width: 35px;
	height: 35px;
	background: #FEE600;
	position: absolute;
	top: -14px;
	cursor: pointer;
	left: 15%;
}

/* range end  */


/* calc-form  */
.calc-form {
	margin: 0 auto;
	width: 100%;
	max-width: 1010px;
	background: #FFFFFF;
	border-radius: 14px;
	padding: 60px;
	display: flex;
	margin-top: 52px;

}

.calc-form__group {
	margin-top: 32px;
}
.calc-form__group:first-child {
	margin-top: 0px;
}
.calc-form__group:last-child {
	margin-top: 44px;
}

.calc-form__group.calc-form__group_2 {
	display: none;
}

.calc-form__text {
	font-family: ALS Hauss;
	font-size: 13px;
	line-height: 18px;
	color: #A2A4A6;
}
.calc-form__left {
	width: 100%;
	max-width: 572px;

}
.calc-form__right {
	border-left: 1px solid #E1E1E3;
    padding-left: 56px;
    margin-left: 56px;
}
	
.calc-form__value {
	font-family: Navigo;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 42px;
	color: #2B2D33;
}
.calc-form__desc {
	font-family: ALS Hauss;
	font-size: 16px;
	line-height: 24px;
	color: #2B2D33;
}

/* calc-form end  */

/* form-dotts */

.screens__dotts {
	display: none;
	width: 100%;
	justify-content: center;
	margin-top: 30px;
}

.screens-dotts {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	display: flex;
}
.screens-dotts__item {
	background: #808185;
	width: 7px;
	height: 7px;
	border-radius: 7px;
	margin-left: 3px;
	position: relative;
	cursor: pointer;
}
.screens-dotts__item:first-child {
	margin-left: 0px;	
}

.screens-dotts__item:after {
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background: #424548;
	left: 1px;
	top: 1px;
	display: block;
	position: absolute;

}

.screens-dotts__item.screens-dotts__item_active {
	background: #FEE600;
}
.screens-dotts__item.screens-dotts__item_active:after {
	display: none;
}

/*  form-dotts end */