
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {
	/**/

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/**/
	.cashback__items {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		padding: 0px 16px;
	}

	.calculate {
		padding: 48px 16px 52px 16px;
		background: #fff;
		box-sizing: border-box;
	}

	.calculate__title {
		font-size: 30px;
		line-height: 36px;
	}
	.calculate__desc {
		font-size: 16px;
		line-height: 24px;
	}
	.calc-form {
		padding: 0px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.range__label {
		font-size: 16px;
		line-height: 24px;
	}
	.range__value {
		font-size: 24px;
		line-height: 30px;
	}

	.range__point {
		font-size: 12px;
		line-height: 16px;
	}

	.calc-form__right {
		background: #F4F4F4;
		border-radius: 14px;
		margin:  0px;
		padding: 20px 0px;
		text-align: center;
		width: 100%;
		margin-top: 36px;
	}
	.calc-form__value {
		font-size: 28px;
		line-height: 34px;
	}
	.calc-form__desc {
		font-size: 14px;
		line-height: 22px;
	}

	.calc-form__group.calc-form__group_1 {
		display: none;
	}
	.calc-form__group.calc-form__group_2 {
		display: block;
		border-top: 1px solid #E1E1E3;
		padding-top: 12px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/**/

}

@media only screen and (max-width : 600px) {
	/**/
	.main__wrap {
		position: relative;
		height: 100%;
		padding-bottom: 54px;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.main__group.main__group_1 {
	    padding-top: 15px;
	}
	.main__h1 {
		font-size: 36px;
		line-height: 42px;
	}
	.main__percent {
		font-size: 64px;
		line-height: 72px;
	}
	.main {
	    background: url(../../assets/images/Promo_mob_3.jpg) no-repeat top center;
	    max-height: 490px;
	    height: 100vh;
	    width: 100%;
		background-size: cover;
	}
	.main__group.main__group_4 {
		position: fixed;
		bottom: 0px;
	    width: 100%;
	    left: 0px;
		z-index: 1000;
	}
	.but.but_1 {
		width: 100%;
		height: 54px;
		border-radius: 0px;
	}
	.benefits__items {
		flex-wrap: wrap;
	}
	.benefits__item {
		width: 100%;
	}
	.benefits__title {
		font-size: 48px;
		line-height: 42px;
	}
	.benefits__desc {
		font-size: 14px;
		line-height: 24px;
		margin-top: 0px;
	}
	.benefits__item.benefits__item_3 {
		display: none;
	}
	.benefits__title.benefits__title_4 {
		font-size: 30px;
		line-height: 42px;
	}
	.benefits__item {
		margin-top: 20px;
	}
	.benefits__item:first-child {
		margin-top: 0px;	
	}
	.cashback {
	    padding: 48px 0px 52px 0px;
	}
	.cashback__title {
		font-size: 30px;
		line-height: 36px;
	}

	.cashback-item {
		padding: 0px 16px;
	}
	.cashback-item__name {
		font-size: 22px;
		line-height: 28px;
	}
	.cashback-item.cashback-item_2:after {
	    background: url(../../assets/images/cashback/bag_1_2.png) no-repeat top center;
		width: 105px;
		height: 163px;
		top: -9px;
		right: 10px;
	}
	.cashback-item.cashback-item_3:after {
	    background: url(../../assets/images/cashback/car_1_2.png) no-repeat top center;
		width: 120px;
		height: 106px;
		right: 0px;
	}
	.cashback-item.cashback-item_1:after {
	    background: url(../../assets/images/cashback/Hue_Saturation_1_1_2.png) no-repeat top center;
		width: 121px;
		height: 100px;
	    top: 0px;
	    right: 0px;
	}


	.form {
	    padding: 48px 0px 52px 0px;
	    box-sizing: border-box;
	}

	.form__title {
		font-size: 30px;
		line-height: 36px;
	}
	.form__steps {
		flex-wrap: wrap;
		justify-content: left;
		padding: 0px 32px;
		box-sizing: border-box;
	}
	.form__step {
		margin-left: 0px;
		margin-top: 14px;
	}
	.form__step:first-child {
		margin-top: 0px;
	}
	.form__block {
		border-radius: 0px;
	}
	.form__text {
		font-size: 18px;
		line-height: 26px;
	}

	.ronline__title {
		font-size: 30px;
		line-height: 36px;
	}
	.ronline__desc {
		font-size: 16px;
		line-height: 24px;
	}
	.screens__buttons {
		display: none;
	}
	.ronline__buttons {
		display: none;
	}

	.screens__wrap {
	    justify-content: left;
	    overflow: hidden;
	}
	.footer__info {
		flex-wrap: wrap;
		padding-left: 16px;
		padding-right: 16px;
		box-sizing: border-box;
	}
	.footer__item {
		margin-top: 15px;
	}
	.footer__item:first-child {
		margin-top: 0px;
	}
	.footer__text {
		padding-left: 16px;
   		margin-right: 16px;
		box-sizing: border-box;
	}

	.logo__item.logo__item_raiff {
		height: 28px;
	}
	.logo__item.logo__item_visa {
	    height: 24px;
	}
	.logo__delimiter {
	    margin: 0px 25px;
	}
	.header__wrap {
	    padding: 0px 17px;
	    height: 64px;
	}
	.header-phone__desc {
		display: none;
	}
	.header-phone__item {
		font-size: 0px;
    	display: flex;
	}
	.header-phone__item:after {
		content: '';
		display: inline-block;
	    background: url(../../assets/images/icons/contact.svg) no-repeat top center;
		width: 24px;
		height: 24px;
	}

	.ronline {
	    padding: 48px 0px 48px 0px;
	}
	.screens__dotts {
		display: flex; ;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/**/
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	/**/

}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	/**/

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/**/
}